<div class="sidebar">

  <!-- Sidebar Menu -->
  <nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
      <!-- Add icons to the links using the .nav-icon class
           with font-awesome or any other icon font library -->
      <li class="nav-item has-treeview ">
        <a href="#" class="nav-link">
          <i class="nav-icon fas fa-newspaper"></i>
          <p>
            Новости
            <i class="right fas fa-angle-left"></i>
          </p>
        </a>
        <ul class="nav nav-treeview">
          {% for item in categories %}
          <li class="nav-item">
              <a href="{% url 'category' item.pk %}" class="nav-link">
                <p class="text">{{ item.title }} <span class="badge badge-primary badge-pill">{{ item.cnt }}</span></p>
              </a>
            </li>
          {% endfor %}
          
         </ul>
  </nav>
  <!-- /.sidebar-menu -->
</div>